

.box{
    margin: 20px;
    border: 10px solid;
   border-color: #F0F0DB;
    padding: 10px;
    width: 75%;
    display: flex;
    gap: 50px;

}

.container{
    display: flex;
    flex-direction: column;

}


h1, h2, h3{
    font-family: "roboto";
}

h1{
    color:#30364F;
}
h2,h3{
    color:#ACBAC4;
}

p,li{
    font-family: "roboto";
    font-size: 0.8rem;
}

footer{
    color: white;
    background-color: black;
    margin:0px;
    padding: 30px;
}




/*box_1*/




/* box_2*/

.box_2{
    clear: both;
}



/*box_4*/
.container > .box_4{
    flex-direction: row;
}
